include *.txt
recursive-include docs *.txt
recursive-include grid/data *.json
recursive-include grid/data/points *
recursive-include grid/tests/data/ *
recursive-include grid/tests/data/dxfiles/ *
recursive-include grid/tests/data/UxDATAfiles/ *
recursive-include grid/tests/data/TKRguv/ *
recursive-include grid/tests/data/MDF_H5/ *
recursive-include bin *
